```sql
WHERE фильтр(граница не включена);
BETWEEN задать интервал;
NOT BETWEEN не в интервале;
IN это есть в этом(column = value1 OR column = value2 OR column = value3);
LIKE содержит '%А' заканчивается на А, '_' заменяет один символ;
DISTINCT уникальные значения;

IS NULL нулевое, пустое;
IS NOT NULL не нулевое, пустое;
NULL FIRST нулевые сверху;
NULL LAST нулевые снизу;

ORDER BY сортировка;
ASC по алфавиту, по возрастанию;
DESC по убыванию;

GROUP BY группировка по столбцам(можно несколько);
HAVING фильтр сгруппированных данных;

OFFSET первые несколько исключаются;
LIMIT вывод такого количества строк;

COUNT — вычисляет число непустых строк;
SUM — вычисляет сумму;
AVG — вычисляет среднее;
MAX — вычисляет максимум;
MIN — вычисляет минимум.

::text
::date(now()::date)
::timestamp
select CURRENT_DATE для получения текущей даты
```

```sql
SELECT * /*выбор всех полей*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE year NOT BETWEEN 1965 AND 1980 /*при условии, что год создания не лежит в промежутке между 1965 и 1980*/
```
___

Ещё один полезный оператор для фильтрации строк — IN.

column IN (value1, value2, value3)

Эта запись аналогична следующей: column = value1 OR column = value2 OR column = value3 — но выглядит проще и компактнее.
___

```sql
SELECT * /*выбор всех полей*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE movie_title LIKE 'А%' /*если название фильма начинается на А*/
```
*Знак процента (%) в примере показывает, что после A встречается ноль и более символов. Вы можете использовать % в любом месте внутри строки. Также в текстовых строках используется знак подчёркивания (_) — он заменяет ровно один любой символ.*
___

```sql
SELECT * /*выбор всех полей*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE overview IS NULL /*если у фильма отсутствует описание*/
IS NULL / IS NOT NULL
```
___

```sql
SELECT *
FROM sql.kinopoisk
ORDER BY rating ASC
```
*Для обратного порядка используется ключевое слово DESC(по убыванию)*
___

Также в ORDER BY можно указывать, где должны идти пустые значения — в начале или в конце.

Такая настройка порядка вывода задаётся с помощью ключевых слов NULLS FIRST / NULLS LAST.
___

```sql
SELECT
    столбец1 AS новое_название,
    столбец2,    столбец3
FROM таблица
WHERE (условие1 OR условие2)    AND условие3
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2
```
___

### АГРЕГАТНЫЕ ФУНКЦИИ

```sql
SELECT /*выбор*/
    COUNT(DISTINCT type1) /*функция подсчёта строк; уникальные значения столбца type1*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
```

COUNT — вычисляет число непустых строк;
SUM — вычисляет сумму;
AVG — вычисляет среднее;
MAX — вычисляет максимум;
MIN — вычисляет минимум.
___

```sql
SELECT /*выбор*/
    COUNT(*) AS "всего травяных покемонов", /*подсчёт всех строк; назначить алиас "всего травяных покемонов"*/
    COUNT(type2) AS "покемонов с дополнительным типом", /*подсчёт непустых строк в столбце type2; назначить алиас "покемонов с дополнительным типом"*/
    AVG(attack) AS "средняя атака", /*среднее значение столбца attack; назначить алиас "средняя атака"*/
    AVG(defense) AS "средняя защита" /*среднее значение столбца defense; назначить алиас "средняя защита"*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
WHERE type1 = 'Grass'/*при условии, что значение столбца type1 содержит grass*/
```
___

```sql
SELECT /*выбор*/
    type1 AS primary_type, /*столбец type1; присвоить алиас primary_type*/
    type2 AS additional_type, /*столбец type2; присвоить алиас additional_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY 1, 2 /*группировка по столбцам 1 и 2*/
ORDER BY 1, 2 NULLS FIRST /*сортировка по столбцам 1 и 2; сначала нули*/
```
___

###  *HAVING*

```sql
SELECT /*выбор*/
    type1 AS primary_type, /*таблица type1; присвоить алиас primary_type*/
    AVG(attack) AS avg_attack /*расчёт среднего по столбцу attack; присвоить алиас avg_attack*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY primary_type /*группировать по столбцу primary_type*/
HAVING AVG(attack) > 90 /*фильтровать по среднему значению attack, превышающему 90*/
```
___

```sql
SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2
```
___

### Задание
```sql
SELECT
    type1 AS primary_type,
    type2 AS additional_type,
    AVG(hp) AS avg_hp,
    AVG(attack) AS avg_attack,
    AVG(defense) AS avg_defense,
    AVG(speed) AS avg_speed
FROM sql.pokemon
GROUP BY type1, type2
HAVING (avg(hp) + avg(attack) + avg(defense) + avg(speed)) >400
```