In [2]:
import pandas as pd

In [3]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [ ]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

In [6]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [ ]:
print(round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize']))

In [ ]:
melb_data['Type'].value_counts(normalize=True)

In [ ]:
melb_data['Propertycount'].mode()

In [ ]:
melb_data['Distance'].std()

In [ ]:
BuildingArea_median = melb_data['BuildingArea'].median() 
BuildingArea_mean =  melb_data['BuildingArea'].mean()
print(abs(BuildingArea_median - BuildingArea_mean)/BuildingArea_mean)

In [ ]:
melb_data['Bedroom'].mode()

In [27]:
melb_data[(melb_data['SellerG'] == 'Nelson')&(melb_data['Price']>3000000)].shape[0]

5

In [ ]:
melb_data[(melb_data['BuildingArea'] == 0)]['Price'].min()

In [39]:
round(melb_data[((melb_data['Rooms']>5)|(melb_data['YearBuilt']>2015))&(melb_data['Price']<1000000)]['Price'].mean())

769239

In [41]:
melb_data[(melb_data['Price']<3e6)&(melb_data['Type'] == 'h')]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [44]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [50]:
student_data.loc[155, 'writing score']

88

In [61]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [65]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [66]:
student_data[student_data['math score'] == 0].shape[0]

1

In [70]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [72]:
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [75]:
student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

-5.827586206896555